- 사용자로부터 어떤 값을 받고, 해당 값을 한화로 바꿔서 출력되도록 해주세요
- ex) 100 => 환율 1112원 // 111200원으로 출력되도록 해주세요

In [12]:
# 엥 뭘 응용해야하지
# 사용자로부터 값 받고 한화로 환전
# 돈 받으면 곱해주세요 해야지 근데 다른 응용방법을 모르겠어

cash = input("환전할 금액을 입력해주세요 ex)100달러") 

k_cash = 1112

while cash == "달러" :
    # print(cash)
    cash.strip("달러")
    # 캐시를 int로 바꾸고 싶음
    cash1 = int(cash)
    print(cash1)
            if cash1 > 0 :
                exchange = cash1*k_cash
                    print(f"{exchange}원 환전 되었습니다.")

IndentationError: unexpected indent (664731353.py, line 15)

In [17]:
# 정답
# 수학능력평가시험 => 수학 => 논리성!!
# 문제를 풀던 못 풀던 일단은 내가 해결하고 싶은 것을 말로 표현
# 국어

# 1. 사용자에게 값을 받는다 (완료)
# input(), int()

# 2. 사전에 환율을 정의해서 특정 변수에 할당해놓는다  (완료)
# 변수 정의만 하면 됨

# 3. 사용자에게 받은 값을 사전에 정의해놓은 환율과 계산한다
# 연산자만 알면 됨

# 4. 사용자의 값과 환율을 계산한 결과값을 출력한다
# print()만 알면 됨

price = (input("환전하고 싶은 달러를 입력해주세요, ex)100달러"))
exchange = 1112

dollar = int(price.replace("달러", ""))
result = dollar * exchange

print(f"{result:,}원")

환전하고 싶은 달러를 입력해주세요, ex)100달러 100달러

111,200원

- 달러의 환율을 1112원으로 설정, 위안화의 환율을 171원, 엔화의 환율을 1010원으로 설정을 하시되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의하시고, 사용자가 달러 혹은 엔화 혹은 위안화 값을 입력했을 때, 해당 값을 한화로 바꿔서 출력될 수 있도록 해주세요
- ex) 100달러 => 111,200원 // 100위안 ==>> 17,100원

In [23]:


#값을 입력받는다
price = input("환전할 금액을 입력해주세요")
price.find("달러", "위안", "엔")ㅠ

# 딕셔너리로 키랑 밸류값을 각 나라별 환전으로 정의한다
cash_dict = {"달러":1112, "위안":171, "엔":1010}

keys = cash_dict.keys()
values = cash_dict.values()
values1 = int(values)

if keys == "달러" :
    price*values1[0]    

elif keys == "위안" :
     price*values1[1]   

elif keys == "엔" :
     price*values1[2]       

print(f"{result:,}원")

환전할 금액을 입력해주세요 100달러

TypeError: slice indices must be integers or None or have an __index__ method

In [21]:
exchange_list = {"달러":1112, "위안":171, "엔화":1010}

user_money = input("환전하고 싶은 금액 입력!")

#100달러

if user_money[-2:] == "달러" :
      print(f"{exchange_list['달러'] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "위안" :
      print(f"{exchange_list['위안'] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "엔화" :
      print(f"{exchange_list['엔화'] * int(user_money[:-2]):,}원")
else :
    print("달러, 위안, 엔화 중 하나를 입력해주세요!")
    #프로그래밍 언어에서 밖에 큰 따옴표가 있다면 안에는 무조건 작은 따옴표를 써야함

환전하고 싶은 금액 입력! 150엔화

151,500원

In [ ]:
# 2~9단까지 => 1) 숫자 2부터 9까지 반복순회!! 2) 피연산자로 1부터 9까지 반복순회 2*1 = 2

In [28]:
for num01 in range(2,10) :
    print("-------------")
    print(f"- 구구단 {num01}단")
    print("-------------")
    for num02 in range(1, 10) :
        print(f"{num01} x {num02} = {num01*num02}")
    print("\n")

-------------
- 구구단 2단
-------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


-------------
- 구구단 3단
-------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27


-------------
- 구구단 4단
-------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


-------------
- 구구단 5단
-------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45


-------------
- 구구단 6단
-------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


-------------
- 구구단 7단
-------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63


-------------
- 구구단 8단
-------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


-------------
- 구구단 9단
-------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

- 위에서 작성한 코드를 활용해서 다음과 같은 결과를 출력해주세요. 구구단 2~9단까지 출력하되, 계산된 결과값이 짝수인 경우만 출력해주세요! 예 3*3 = 9이기 때문에 출력되면 안 됨

In [41]:
for num in range(2,10) :
    print("-------------")
    print(f"- 구구단 {num}단")
    print("-------------")
    for num1 in range (1,10) :
        result = num*num1
        if result % 2 == 0 :
            print (f"{num} x {num1} = {num*num1}")
    print("\n")

-------------
- 구구단 2단
-------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


-------------
- 구구단 3단
-------------
3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24


-------------
- 구구단 4단
-------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


-------------
- 구구단 5단
-------------
5 x 2 = 10
5 x 4 = 20
5 x 6 = 30
5 x 8 = 40


-------------
- 구구단 6단
-------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


-------------
- 구구단 7단
-------------
7 x 2 = 14
7 x 4 = 28
7 x 6 = 42
7 x 8 = 56


-------------
- 구구단 8단
-------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


-------------
- 구구단 9단
-------------
9 x 2 = 18
9 x 4 = 36
9 x 6 = 54
9 x 8 = 72

dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

```
6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호
```

In [45]:
dongs = ["6209동", "6208동", "6207동"] 
hos = ["101호", "102호", "103호", "104호"]

for dong in dongs :
    for ho in hos :
        print(dong,ho)
    print()

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [48]:
tupledata = ("coding01", "coding02", "coding03")
#temp_list = list(tupledata)
#temp_list.append("coding04")

#result = tuple(temp_list)

#tupleAdd = ("coading04")
#result = tupledata + tupleAdd

tuple(list(tupledata) + ["coading04"])

('coding01', 'coding02', 'coding03', 'coading04')

- 딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요

  ```
  environment : 환경
  company : 회사
  goverment : 정부
  face : 얼굴
  ```

In [56]:
word = {"environment":"환경", "company":"회사", "goverment":"정부", "face":"얼굴"}

#딕셔너리로 값 바꿔서 리스트로 바꾸기
wordk = word.keys()
wordv= word.values()

for words1 in wordk :
    for words2 in wordv :
        print(f"{words1} : {words2}")

environment : 환경
environment : 회사
environment : 정부
environment : 얼굴
company : 환경
company : 회사
company : 정부
company : 얼굴
goverment : 환경
goverment : 회사
goverment : 정부
goverment : 얼굴
face : 환경
face : 회사
face : 정부
face : 얼굴

In [59]:
# data = {
    "environment":"환경",
    "company":"회사",
    "goverment":"정부",
    "face":"얼굴"
}

# for item in data.keys() :
#    print(f"{item} : {data[item]}")

environment : 환경
company : 회사
goverment : 정부
face : 얼굴

In [ ]:
data = {
    "environment":["환경","x"]
    "company":["회사","o"]
    "goverment":["정부", "x"]
    "face":["얼굴", "x"]
}

- 사용자로부터 사전에 등록되어있는 단어들 중 1개를 입력 받으세요. 그러면 입력받은 단어의 경우, 외음표시 o 표시로 수정하고, 아직 외우지 못 한 단어들만 출력하는 프로그램 코드를 작성해주세요!!

In [62]:
#단어 등록
wordData = {
    "environment":["환경","x"],
    "company":["회사","o"],
    "goverment":["정부", "x"],
    "face":["얼굴", "x"]
}

#단어 입력받기
# word = input("외운 단어를 입력해주세요")

#딕셔너리로 키와 밸류값을 정해주고, 밸류의 인덱스[1]과 비교하여 표시하고 싶음

#wdk = wordData.keys()
#wdv = wordData.values()
#print(wdv)
 #if wdv[

외운 단어를 입력해주세요 환경

dict_values([['환경', 'x'], ['회사', 'o'], ['정부', 'x'], ['얼굴', 'x']])

In [68]:
# 정답
english = input("다 외운 단어 입력하기")

if english in data.keys() :
    data[english][1] = "o"
else :
    print("사전에 존재하지 않은 단어입니다!") #유효성검사

for item in data.keys() :
    data_list = data[item]
    if data_list[1] == "x" :
        print(item)

다 외운 단어 입력하기 dsga

사전에 존재하지 않은 단어입니다!

- dict_all = {"environment":"환경", "goverment", "정부"}
- dict2 = {"company":"회사", "face", "얼굴"}
- dict3 = {"apple":"사과"}
- dict_all 안에 dict2와 dict3 값을 모두 넣어주세요! 그리고 dict_all 값을 출력해주세요

In [73]:
dict_all = {"environment":"환경", "goverment":"정부"}
dict2 = {"company":"회사", "face":"얼굴"}
dict3 = {"apple":"사과"}

for item in dict2.keys() :
    dict_all[item] = dict2[item]
    
for item in dict3.keys() :
    dict_all[item] = dict3[item]

dict_all

{'environment': '환경',
 'goverment': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [78]:
number_list = {1, 2, 3}
number_list.add(4)
#number_list.add(5,6)
#set이라는 자료구조는 add()는 값을 추가할 수는 있으나 값을 하나에 한 번씩 밖에 주지 못 한다.

number_list.update([5,6])
#set이라는 자료구조는 복수의 값을 추가하고 싶을 때 이터러블한 값으로 추가해야 하기 때문에 리스트로 바꿔주면 됨

number_list.remove(2)
number_list

{1, 3, 4, 5, 6}

- 임의의 숫자 2개를 사용자에게 받으면 해당 2개에 숫자를 곱한 값을 반환하는 함수를 만들고, 해당 함수의 결과값을 화면에 출력해주세요

In [92]:
#number1 = int(input("숫자를 입력해주세요"))
#number2 = int(input("숫자를 입력해주세요"))

num_all = [int(input("숫자를 입력하세요!")) for _ in range(2)]
def multi (num1, num2) :
   return num1 * num2

print(multi(num_all[0], num_all[1]))

숫자를 입력하세요! 5
숫자를 입력하세요! 6

30

- 인자값 3개를 받을 수 있는 함수를 호출합니다.
- func1(인자값1, 인자값2, 인자값3)
- 해당 함수에 3번째 인자값 = 인자값3, + => 첫번째 인자값과 두번째 인자값을 더한 결과값을 반환하도록 해주시고 만약 3번째 인자값이 *라면, 첫번째 인자값과 두번째 인자값을 곱한 결과값을 반환해주세요, 그런데 만약에 인자값이 +도 아니고 *도 아니라면 무조건 0이라는 값을 반환하도록 하는 함수를 만들어주세요

In [95]:

# 인자값 3개를 받을 수 있는 함수를 호출 

def func1(a, b, c) :
    num1 = int(input("숫자를 입력해주세요")) 
    num1 = a
    num2 = int(input("숫자를 입력해주세요"))
    num2 = b
    str = ("연산자를 입력해주세요")
    str = c
    return 
    
    if c == "+" :
        print(a+b)
    elif c == "*" :
        print(a*b) 
    elif c != "+" and c!= "*" :
        print(0)

In [97]:
# 정답

def calc(data1, data2, way) :
    if way == "+" :
        return data1 + data2
    elif way == "*" :
        return data1 * data2
    else :
        return 0

data01 = calc(1, 2, "+")
data02 = calc(3, 2, "*")
data03 = calc(2, 4, "-")

print(data01, data02, data03)

3 6 0