## 파이썬 기초문법
### 1.변수
### 2. 내장함수 (*Built-in Function)
    - print()
    - input()
    - type()
### 3. 연산자 
    - 사칙연산
    - 비교연산
### 4. 자료타입
    - String
    - int
    - float
    - boolean
### 5. 형변환
    - int()
    - float()
    - str()

### 6. F-string
    -F"문자열 {변수}"

### 6. 문자열
    - """ """
    - \n # 개행
    - len()
    - find()
    - replace()
    - strip
    - format() ==> 유의사항!
    - [index]
    - [index:index] # 슬라이스 기능

In [33]:
# 단축키
# above(a): 위쪽에 셀 추가
# below(b): 아래쪽에 셀 추가
# dd: 셀 삭제
# ctrl + z : 되돌리기
# enter : 행바꿈(*개행)
# ctrl + enter : 셀 실행

In [4]:
num = 1

# num, Lion, Apple... => 변수(*어떤 값을 담을 수 있는 그릇, 직관 & 명시)
# snake 표기법 => hell0_world
# camel 표기법 => helloWorld (*추천)
# Hungarian 표기법 => HelloWorld
# num이라는 변수 안에 1이라는 값을 할당했다.
# 변수의 이름이 숫자로 시작되서는 안됨 (*반드시)
print(num)
# print() => 함수(*Funtion : 기능)
# print라는 함수 안에 num이라는 변수를 인자(=algument)값으로 사용했다.
# 인자값은 꼭 값을 변수에 넣지 않아도 되고, 직접 넣어도 된다.

1

In [6]:
print("Hello world")

Hello world

In [10]:
# 자료타입이 왜 중요한가?
print(type(1))
print(type("1"))

<class 'int'>
<class 'str'>

In [18]:
# 사칙연산 & 우선연산 가능
num01 = 3
num02 = 7

print(num01+num02)
print(num02-num01)
print(num01*num02)
print((7+3)*5)
print(num02/num01)

10
4
21
50
2.3333333333333335

In [24]:
print(15/7) # 나누기 연산자
print(15//7) # 나누기 후 몫의 값을 정수로 찾아오는 연산자
print(15 % 7) # 나머지 연산자
print(3 ** 2)

2.142857142857143
2
1
9

In [27]:
str_data = "Hello" # 문자열
int_data = 1 # 정수
float_data = 1.1 # 부동소수
bool_data = True # 논리형

print(type(str_data), type(int_data), type(float_data), type(bool_data))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [32]:
digit1 = 10
digit2 = 20
name = "David"

print(digit1 + digit2) # 동일한 자료형태의 경우에는 연산처리 가능

30

In [40]:
num1 = 2
num2 = 4

print(num1 < num2)
print(num1 > num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

True
False
False
True
False
True

In [41]:
age = 24
name = "David"
height = 161
weight = 77
footSize = 240
glass = False
marriage = False
gender = "female"
hobby = "watching baseball"

### 반지름이 10인 변수를 선언하시고, 해당 반지름을 기준으로 하는 원의 지름, 둘레(2 * 파이 * 반지름), 넓이(파이 * 반지름 제곱) 값을 변수로 선언 및 할당 => 출력

In [55]:
radius = 10
pi = 3.1415
radius2 = radius*2
radius3 = 2 * pi * radius
radius4 = pi * radius * radius
radius5 = pi * radius ** 2

print("1. 반지름 : ", radius )
print("2. 지름 : ", radius2 )
print("3. 원의 둘레 : ", radius3 )
print("4. 원의 넓이 : ", radius4 )


print("1. 반지름 : ", radius, "2. 지름 : ", radius2, "3. 원의 둘레 : ", radius3, "4. 원의 넓이 : ", radius4  )
print(f"1. 반지름 : {radius}" ) # F-String = Formatted String

1. 반지름 :  10
2. 지름 :  20
3. 원의 둘레 :  62.830000000000005
4. 원의 넓이 :  314.15000000000003
1. 반지름 :  10 2. 지름 :  20 3. 원의 둘레 :  62.830000000000005 4. 원의 넓이 :  314.15000000000003
1. 반지름 : 10

In [67]:
name = input("What is your name?")
address = input("Where are you from?")
gender = input("man or woman?")
age = input("How old are you?")
print(type(age))
print(f"Hi {name} from {address}")

What is your name? Hazel
Where are you from? Ansan
man or woman? woman
How old are you? 28

<class 'str'>
Hi Hazel from Ansan

In [69]:
num1 = int(input())
num2 = int(input())

print(num1*num2)

 10
 10

100

In [89]:
num3 = 6.3
num4 = 1

print(type(num3))
print(type(num4))


num5 = int(num3)
print(type(num5))

<class 'float'>
<class 'int'>
<class 'int'>

In [101]:
article1 = "주인공 성기훈의 내레이션과 함께, 어릴 적 기훈이 동네 친구들과의 오징어 게임에서 이기는 장면을 보여준 후 타이틀이 등장하면서 시작한다."
article2 = """성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고,
하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다.
이혼 후 가영은 재혼한 전처가 키우고 있었지만, 기훈은 가영의 생일도 챙겨주지 않고 
어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며 
우여곡절 끝에 456만 원이라는 거금을 얻게 된다.[4] \n 밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시, 
자신을 찾아온 사채업자 김정래 대표 때문에 황급히 도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부 소매치기당하고 만다. 
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다.
[5] 어떻게든 만 원이라도 만들어서[6] 인형뽑기로 권총 라이터를 선물했다가[7] 황급히 가져간 뒤에 떡볶이를 사주지만, 
아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다. 
결국 "내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을 위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다."""

print(article2)

성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고,
하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다.
이혼 후 가영은 재혼한 전처가 키우고 있었지만, 기훈은 가영의 생일도 챙겨주지 않고
어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며
우여곡절 끝에 456만 원이라는 거금을 얻게 된다.[4]
 밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시,
자신을 찾아온 사채업자 김정래 대표 때문에 황급히 도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부 소매치기당하고 만다.
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다.
[5] 어떻게든 만 원이라도 만들어서[6] 인형뽑기로 권총 라이터를 선물했다가[7] 황급히 가져간 뒤에 떡볶이를 사주지만,
아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다.
결국 "내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을 위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다.

In [105]:
# article2라는 변수를 선언했고, 해당 변수에 문자열 형태의 값을 할당
# article2라는 변수에 문자열 형태의 값이 할당됨으로 인해서 이제 article2라는 변수는 문자열 객체라고 부를 수 있게 된다
# 객체는 어떤 타입의 객체이냐에 따라서 사용할 수 있는 메소드 함수(*문자열())가 결정

print(article2.count("기훈"))
print(len(article2))
print(article2.find("성")) #"성"이라는 문자열은 0번째 인덱스값을 가지고 있음
print(article2.find("인")) #"인"이라는 문자열은 1번째 인덱스값을 가지고 있음

# 동의보감 => 동:0 // 감:3 => 문자열의 전체 총 갯수에서 -1 = 마지막번째 문자열의 인덱스값과 항상 동일

3
575
0
1

In [108]:
article3 = """Actor Brad Pitt's home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023. """

print(article3)
print(article3.find("A"))
print(article3.find("a"))
print(article3.replace("Brad Pitt's", "David"))

Actor Brad Pitt's home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023.
0
8
Actor David home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023.

In [123]:
# 파이썬 > 문자열 > 슬라이스 기능

text01 = "python"

print(text01)
print(text01[0])
print(text01[1])
print(len(text01))
print(text01[len(text01)-1])

print(text01[0:2])
print(text01[2:4])
print(text01[-2])

python
p
y
6
n
py
th
o

In [127]:
some_string = "   computer   "

print(len(some_string))
print(some_string.strip())

some_string2 = some_string.strip()
print(len(some_string2))

some_string3 = ",,,David,,,"
print(some_string3.strip(","))

14
computer
8
David

In [135]:
var01 = "pen"
var02 = "apple"

print(f"I have a {var01}. I have a {var02}")

print("I have a {}. I have a {}".format("pen", "apple"))
print("I have a {1}. I have a {0}".format("pen", "apple"))
print("I have a {0}. I have a {0}".format("pen", "apple"))

I have a pen. I have a apple
I have a pen. I have a apple
I have a apple. I have a pen
I have a pen. I have a pen

In [137]:
interest = 0.897
print(format(interest, ".2f"))

0.90

In [144]:
print("I have a %d. I have a %s." %(100, "apple"))

# %s => 문자열 입력
# %d => 정수 입력
# %f => 부동소수값 입력

I have a 100. I have a apple.