## 반복문
```
for 변수 in (리스트 || 문자열 => 이터러블한 객체 속성을 가지고 있는 자료 구조이다)

    실행문 실행

while 조건 :

    실행문 실행
```

In [3]:
lan = ["python", "TS", "Node"]

for item in lan :
    print(item)

#반복 순회해서 출력했다

python
TS
Node

In [2]:
#for item in ["python", "TS", "Node"] :
#    print(item)

for item in lan :
    print(item)

python
TS
Node

In [4]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [12]:
for num in range(10) :
    print(num)

0
1
2
3
4
5
6
7
8
9

In [15]:
for num in range(1, 4) :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [17]:
for _ in range(1, 4) :
    input("최애 음식은?")


# 근본적으로는 반복하는 것이 목적이니 변수를 선언하지 않아도 됨

최애 음식은? 밥
최애 음식은? 밥
최애 음식은? 바ㅂ

In [19]:
range(3)

range(0, 3)

In [23]:
range(0, 3) = [1, 2, 3]

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2319105677.py, line 1)

In [27]:
data_list = ["list1", "list2", "list3"]

print(data_list[0])
print(data_list[1])
print(data_list[2])

for index in data_list : 
    print(index)

list1
list2
list3
list1
list2
list3

In [35]:
sum = 0 # 전역변수


for index in range(1, 11) :
    # sum = sum + index
    # 복합대입연산자
    # sum += index
    sum -= index
sum

-55

In [ ]:
# 기저조건이 없다면 무한루프에 빠지게 되는 것이 While문

while 1 :
    print("Hello World")

In [37]:
name = ""

while name != "foo" :
        name = input("What's your name?")
        print(f"Hi~{name}!! 'Where is foo?'")

What's your name? Hazel

Hi~Hazel!! 'Where is foo?'

What's your name? Jung

Hi~Jung!! 'Where is foo?'

What's your name? foo

Hi~foo!! 'Where is foo?'

1-10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for문을 활용하여 작성하시오

In [43]:
sum = 0

for num in range(1,11) :
    sum += num

print(sum)

55

In [55]:
num1 = int(input("숫자를 입력해주세요"))

for num2 in range(1,10) :
    num2 * num1
print(num1)

숫자를 입력해주세요 5

5

In [58]:
# 1. 사용자한테 값을 받는다
# 2. 사용자한테 받은 값을 변수에 넣고 해당 변수의 값을 가지고 1~9까지 곱해본다
# 3. 1~9까지 반복으로 곱해주기 위해서 반복문을 사용한다
# 4. 반복문을 사용하기 위해서 range[1,10] 함수 및 인자값을 사용한다

data = int(input("구구단을 위한 숫자를 입력해주세요"))

if data >= 2 and data <= 9 :
    for digit in range(1,10) :
        print(f"{data}*{digit} = {data*digit}")
else :
    print("2~9 사이의 숫자만 입력해주세요")

구구단을 위한 숫자를 입력해주세요 5

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45

- name = "[Dave], [David], [Andy], [Juliet]"
- 위 name이라는 변수 안에 담긴 값을 다음처럼 화면에 출력해주세요
  Dave
  David
  Andy
  Juliet

In [87]:
#for문에 이름 변수 넣어서 리스트로 만든 담에 출력해달라고 하면... 되지.. .않으려나 몰겠네
# 아니면 아예 name 변수를 list로 선언해버리기
name = list("[Dave], [David], [Andy], [Juliet]")
#name1 = ["Dave, David, Andy, Juliet"]

for name1 in name :
   print(name1)

[
D
a
v
e
]
,

[
D
a
v
i
d
]
,

[
A
n
d
y
]
,

[
J
u
l
i
e
t
]

In [93]:
# 정답

name = "[Dave],[David],[Andy],[Juliet]"

name01 = name.split(",")

for str_name in name01 :
    print(str_name[1:-1])

Dave
David
Andy
Juliet

In [ ]:
- 1부터 30까지 숫자 중 3의 배수만 출력해주세요 (*while문을 활용해서 값을 도출하세요)

In [94]:
# while문을 사용해서 3의 배수만 출력하되 for문을 이용해서 1부터 30을 늘리면 되지 않을까?
# 도움 1부터 30까지의 숫자를 반복문을 활용해서 생성 및 찾아오기
# 생성 및 찾아온 숮자 중에서 3의 배수를 찾는다 => 3의로 나누었을 때, 나머지 값이 0=> % 연산자 필요

num = 0

while num < 30 :
    num += 1
    if num % 3 == 0 :
        print(num)

3
6
9
12
15
18
21
24
27
30

- 1부터 30까지 숫자 중 3의 배수만 출력해주세요 (*for문 활용해서 값을 도출하세요)

In [100]:
num = 0

for num in range(1,31) :
    if num % 3 == 0 :
        print(num)


#for문은 조건식 필요없음

3
6
9
12
15
18
21
24
27
30

- 다음 리스트 자료구조에서 음수값을 삭제하고, 양수값만 가지고 있는 새로운 리스트 변수로 만들어서 출력해주세요
- num_list = [0, -11, 31, 22, -11, 33, -44, -55]

In [113]:
#0보다 크는 애들 출력해달라고 하자~~~!
#0보다 큰 애들 출력해달라고 하고 그걸 새로운 변수에 넣고 출력하셈

num_list = [0, -11, 31, 22, -11, 33, -44, -55]

for list in num_list :
       if list >= 0 :
        for real_list in list :
            real_list = (int)list
            print(real_list)

SyntaxError: invalid syntax (886561653.py, line 9)

In [121]:
# 정답
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
new_list = list()

for num in num_list :
    if num >= 0 :
        new_list.append(num)
new_list

TypeError: 'int' object is not callable

In [ ]:
- 아래 리스트에 있는 데이터들의 길이를 출력해주세요. (*단, 1줄에 1개씩 구분해서 출력)
- list_data = ["Java", "C++", "Python", "Node"]

In [136]:
# 리스트 데이터 변수 선언
# for문 사용해서 리스트를 나열하고 lan() 함수를 사용해서 나열하고 싶음

list_data = ["Java", "C++", "Python", "Node"]  

for language in list_data :
     result = len(language)
    
result

4

In [135]:
# 정답

list_data = ["Java", "C++", "Python", "Node"]  

for data in list_data :
    print(len(data))

4
3
6
4

In [ ]:
filelist = ["excise01.docx", "excise02.docx", "excise03.docx", "excise04.docx"]
```
excise01
excise02
excise03
excise04
```

In [146]:
# for문 사용해서 출력하고 split() 사용해서 .docx 없애버리장~~~

filelist = ["excise01.docx", "excise02.docx", "excise03.docx", "excise04.docx"]

for list in filelist :
      print(list.split())

['excise01.docx']
['excise02.docx']
['excise03.docx']
['excise04.docx']

In [150]:
# 정답

filelist = ["excise01.docx", "excise02.docx", "excise03.docx", "excise04.docx"]

for filename in filelist :
    print(filename.split(".")[0])

excise01
excise02
excise03
excise04

In [ ]:
filelist = ["excise01.csv", "excise02.csv", "excise03.txt", "excise04.csv"]
- 확장자가 "txt"인 값만 출력!

In [158]:
filelist = ["excise01.csv", "excise02.csv", "excise03.txt", "excise04.csv"]

for findtxt in filelist :
    if findtxt.split(".")[1] == "txt" :
    print(findtxt)

IndentationError: expected an indented block after 'if' statement on line 4 (590777209.py, line 5)